html
    head
        style
            include ../style.css
        title Auth
    body
        a(href='/auth/google') Connectez vous avec Google
        a(href='/auth/facebook') Connectez vous avec Facebook
        a(href='/auth/linkedIn') Connectez vous avec LinkedIn
        a(href='/auth/twitter') Connectez vous avec Twitter
    